PORT=8080
FRONTEND_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:8080
BETTER_AUTH_SECRET=
DATABASE_URL=
ARCJET_ENV=development
ARCJET_KEY=
ARCJET_RATE_LIMIT_MAX=60
ARCJET_RATE_LIMIT_INTERVAL=1m
